/* Handle offline font loading */
// $fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
// $fa-font-display: auto !default;
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// @use "~/@fontsource/lato/scss/mixins" as Lato;
// @use "~/@fontsource/raleway/scss/mixins" as Raleway;
// @use "~/@fontsource/press-start-2p/scss/mixins" as Press;
// @import "@fontsource/press-start-2p";

// OLD: Include both normal and bold weights
// @include Lato.fontFace($fontDir: "../webfonts", $weight: 400);
// @include Lato.fontFace($fontDir: "../webfonts", $weight: 700);

// NEWER (Retro font) : Include both normal and bold weights
// @include Press.fontFace($fontDir: "../webfonts", $weight: 400);
// @include Press.fontFace($fontDir: "../webfonts", $weight: 700);

// @include Press.fontFace($fontDir: "../webfonts");

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

// @import "~/@fontsource/lato/index.css";
// @import "~/@fontsource/lato/index.css";

@font-face {
  font-family: 'Monocraft';
  font-style: normal;
  font-display: auto;
  src: local('Monocraft'),
       url('/webfonts/Monocraft.ttf') format('truetype'),
       url('/webfonts/Monocraft.otf') format('opentype');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

html,
body,
.container {
  font-family: "Monocraft", sans-serif;
}

.jumbotron .container {
  font-family: "Monocraft", sans-serif;
}
